<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fanikiwa - Peer-to-Peer Lending</title>
<link href="/Images/Dollar.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/Content/Site.css" type="text/css" />
<script src="/Scripts/jquery-2.0.3.js" type="text/javascript"></script>
 

</head>


<body>

	<header>
		<div class="content-wrapper">

			<div class="float-left">
				<p class="site-title" title="Fanikiwa - Peer - To - Peer Lending">
					Fanikiwa - Peer - To - Peer Lending</p>
			</div>


			<div class="float-right">
				<section id="login">
					<text> Welcome To Fanikiwa</text>
				</section>
			</div>






		</div>


	</header>




	<div id="body">


		<section class="content-wrapper main-content clear-fix">

			<div id="error-display-div" class="displaynone"></div>


			<hgroup class="title">
				<h2 class="page-title">Register</h2>
			</hgroup>

			<form action="javascript:void(0);">

				<fieldset>
					<legend>Register</legend>

					<article class="col1">
						<div class="pad">

							<div>
								<label for="txtEmail">Email</label> <input id="txtEmail"
									autocomplete placeholder="Email" autofocus type="text"></input>
							</div>

							<div>
								<label for="txtPassword">Password</label> <input
									id="txtPassword" autocomplete placeholder="Password"
									type="password"></input>
							</div>

							<div>
								<label for="txtSurname">Surname</label> <input id="txtSurname"
									autocomplete placeholder="Surname" type="text"></input>
							</div>

							<div>
								<label for="txtTelephone">Telephone</label> <input
									id="txtTelephone" autocomplete placeholder="Telephone"
									type="tel"></input>
							</div>


						</div>
					</article>


					<div style="float: left; clear: both">
						<input type="submit" value="Register" id="btnRegister" disabled />
						Already Registered Click <a id="btnLogin"
							href="/Views/Account/Login.html" style="cursor: pointer;">Here
						</a> To Login
					</div>


				</fieldset>


			</form>


		</section>


	</div>





	<footer>

		<hr />

		<div class="content-wrapper">
			<div class="float-left"></div>
		</div>


		<div class="content-wrapper clearboth">
			<div class="float-left">
				<p style="font-size: 15px">Copyright &copy; Software Providers
					Limited. All Rights Reserved.</p>
			</div>
		</div>


		<div class="content-wrapper clearboth">
			<div></div>
		</div>


	</footer>




	<script type="text/javascript">
	
		document.getElementById('btnRegister').onclick = function() {
			register();
		}

		var errormsg = '';
		errormsg += '<ul id="errorList">';

		function init() {
			
		  // Parameters are APIName,APIVersion,CallBack function,API Root
	      gapi.client.load('memberendpoint', 'v1', enableButton, ROOT);
	  
		}

		function enableButton() {
			$("input[type=submit]").removeAttr("disabled");
		}

		function register() {

			errormsg = '';
			ClearException();
			errormsg += '<ul id="errorList">';
			var error_free = true;

			// Validate the entries
			var _Email = document.getElementById('txtEmail').value;
			var _Pwd = document.getElementById('txtPassword').value;
			var _Surname = document.getElementById('txtSurname').value;
			var _Telephone = document.getElementById('txtTelephone').value;

			if (_Email.length == 0) {
				errormsg += '<li>' + " Email cannot be null " + '</li>';
				error_free = false;
			}
			if (_Pwd.length == 0) {
				errormsg += '<li>' + " Password cannot be null " + '</li>';
				error_free = false;
			}
			if (_Surname.length == 0) {
				errormsg += '<li>' + " Surname cannot be null " + '</li>';
				error_free = false;
			}
			if (_Telephone.length == 0) {
				errormsg += '<li>' + " Telephone cannot be null " + '</li>';
				error_free = false;
			}

			if (!error_free) {
				errormsg += "</ul>";
				$("#error-display-div").html(errormsg);
				$("#error-display-div").removeClass('displaynone');
				$("#error-display-div").addClass('displayblock');
				$("#error-display-div").show();
				return;
			} else {
				ClearException();
			}

			// Build the Request Object
			var memberDTO = {};
			memberDTO.email = _Email;
			memberDTO.pwd = _Pwd;
			memberDTO.surname = _Surname;
			memberDTO.telephone = _Telephone;

			registerNow(memberDTO);
		}

		function registerNow(memberDTO) {

			var request = gapi.client.memberendpoint.register(memberDTO).then(
					function(response) {
						console.log(response);
						localStorage.memberId = response.result.memberId;
						window.location.href = "/Views/Account/Login.html";
					}, function(reason) {
						console.log('Error: ' + reason.result.error.message);
						errormsg += '<li>' + reason + '</li>';
						DisplayException(errormsg);
						return;
					});
		}

		function DisplayException(errormsg) {

			errormsg += "</ul>";

			$("#error-display-div").html(errormsg);
			$("#error-display-div").removeClass('displaynone');
			$("#error-display-div").addClass('displayblock');
			$("#error-display-div").show();
		}

		function ClearException() {
			$('#errorList').remove();
			$('#error-display-div').empty();
		}
		
	</script>


	<script src="https://apis.google.com/js/client.js?onload=init"></script>




</body>


</html>
