 
			<div id="nav">
				<ul id="menu">

					<li id="mnuHome"><a id="btnSubmitIndexForm"
						style="cursor: pointer;" href="/Views/Home/Index.html">Home</a>
						<ul class="submenu">

							<li>

								<div class="floatleft">

									<div>
										<a id="btnSubmitHelpForm" href="/Views/Home/Help.html"
											style="cursor: pointer;">Help</a>
									</div>

								</div>

							</li>

							<li>

								<div class="floatleft">

									<div>
										<a id="btnSubmitContactUsForm"
											href="/Views/Contact/ContactUs.html" style="cursor: pointer;">Contact
											Us</a>
									</div>

								</div>

							</li>

<!-- 							<li> -->

<!-- 								<div class="floatleft"> -->

<!-- 									<div> -->
<!-- 										<a id="btnSubmitContactsForm" href="/Views/Home/Contact.html" -->
<!-- 											style="cursor: pointer;">Contacts</a> -->
<!-- 									</div> -->

<!-- 								</div> -->

<!-- 							</li> -->

							<li>

								<div class="floatleft">

									<div>
										<a id="btnSubmitAboutForm" href="/Views/Home/About.html"
											style="cursor: pointer;">About</a>
									</div>

								</div>

							</li>


						</ul></li>



					<li id="mnuGetaloan"><a>Get a loan</a>
						<ul class="submenu">
							<li>

								<div class="floatleft">

									<div>
										<a id="btnSubmitIndexForm" style="cursor: pointer;"
											href="/Views/Offers/CreateBorrowOffer.html">I want to
											borrow money</a>
									</div>

								</div>

							</li>

							<li>

								<div class="floatleft">

									<div>
										<a id="btnSubmitListLendOffersForm" style="cursor: pointer;"
											href="/Views/Offers/ListLendOffers.html">My offers</a>
									</div>

								</div>

							</li>


						</ul></li>


					<li id="mnuMakeaninvestment"><a>Make an investment</a>
						<ul class="submenu">
							<li>

								<div class="floatleft">

									<div>
										<a id="btnSubmitIndexForm" style="cursor: pointer;"
											href="/Views/Offers/CreateLendOffer.html">I want to lend
											money</a>
									</div>

								</div>

							</li>

							<li>

								<div class="floatleft">

									<div>
										<a id="btnSubmitListBorrowOffersForm" style="cursor: pointer;"
											href="/Views/Offers/ListBorrowOffers.html">My offers</a>
									</div>

								</div>

							</li>


						</ul></li>



					<li id="mnuMyprofile"><a>My profile</a>
						<ul class="submenu">

							<li id="subMenuMyAccounts">

								<div class="floatleft">

									<div>
										<a id="btnSubmitMyAccountsForm"
											href="/Views/Account/MyAccounts.html"
											style="cursor: pointer;">My accounts</a>
									</div>

								</div>

							</li>

							<li id="subMenuMyLoans">

								<div class="floatleft">

									<div>
										<a id="btnSubmitMyLoansForm"
											href="/Views/Loans/ListMyLoans.html" style="cursor: pointer;">My
											loans</a>
									</div>

								</div>

							</li>

							<li>

								<div class="floatleft">

									<div>
										<a id="btnSubmitMyInvestMentsForm"
											href="/Views/Loans/ListMyInvestments.html"
											style="cursor: pointer;">My investments</a>
									</div>

								</div>

							</li>

							<li id="subMenuLendingGroups">

								<div class="floatleft">

									<div>
										<a id="btnSubmitGetMyLendingGroupsForm"
											href="/Views/LendingGroups/List.html"
											style="cursor: pointer;">My groups</a>
									</div>

								</div>

							</li>

							<li id="mnuprofile"><a>Profile</a>
								<ul class="submenu">

									<li id="subMenuChangePassword">

										<div class="floatleft">

											<div>
												<a id="btnSubmitChangePasswordForm"
													href="/Views/Account/_ChangePasswordPartial.html"
													style="cursor: pointer;">Change Password</a>
											</div>

										</div>

									</li>

									<li id="subMenuMyProfile">

										<div class="floatleft">

											<div>
												<a id="btnSubmitEditProfileSubForm"
													href="/Views/Account/EditProfile.html"
													style="cursor: pointer;">Change my profile</a>
											</div>

										</div>

									</li>

									<li id="subMenuDeRegister">

										<div class="floatleft">

											<div>
												<a id="btnSubmitDeRegisterForm"
													href="/Views/Account/DeRegister.html"
													style="cursor: pointer;">Deregister</a>
											</div>

										</div>

									</li>

								</ul></li>

						</ul></li>

<!-- 					<li> -->

<!-- 						<div class="floatleft"> -->

<!-- 							<div> -->
<!-- 								<a id="btnSubmitListMyOffersForm" -->
<!-- 									href="/Views/Offers/ListMyOffers.html" style="cursor: pointer;">My -->
<!-- 									Offers</a> -->
<!-- 							</div> -->

<!-- 						</div> -->

<!-- 					</li> -->


				</ul>
			</div>

 