
		<div class="content-wrapper">
 
			<div id="nav">
				<ul id="menu">

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitIndexForm" style="cursor: pointer;"
									href="/Views/Home/Index.html">Home</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitListLendOffersForm" style="cursor: pointer;"
									href="/Views/Offers/ListLendOffers.html">Get A loan</a>
							</div>

						</div>

					</li>

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitListBorrowOffersForm" style="cursor: pointer;"
									href="/Views/Offers/ListBorrowOffers.html">Make An
									Investment</a>
							</div>

						</div>

					</li>

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitListMyOffersForm"
									href="/Views/Offers/ListMyOffers.html" style="cursor: pointer;">My
									Offers</a>
							</div>

						</div>

					</li>





					<li id="subMenuMyProfile">

						<div class="floatleft">

							<div>
								<a id="btnSubmitEditProfileSubForm"
									href="/Views/Account/EditProfile.html" style="cursor: pointer;">My
									Profile</a>
							</div>

						</div>

					</li>

					<li id="subMenuMyAccounts">

						<div class="floatleft">

							<div>
								<a id="btnSubmitMyAccountsForm"
									href="/Views/Account/MyAccounts.html" style="cursor: pointer;">My
									Accounts</a>
							</div>

						</div>

					</li>

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitMyInvestMentsForm"
									href="/Views/Offers/ListMyInvestments.html"
									style="cursor: pointer;">My InvestMents</a>
							</div>

						</div>

					</li>

					<li id="subMenuMyLoans">

						<div class="floatleft">

							<div>
								<a id="btnSubmitMyLoansForm"
									href="/Views/Loans/ListMyLoans.html" style="cursor: pointer;">My
									Loans</a>
							</div>

						</div>

					</li>

					<li id="subMenuOfferGroups">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetMyMailingGroupsForm"
									href="/Views/MailingGroups/MailingGroups.html"
									style="cursor: pointer;">My Offer Groups</a>
							</div>

						</div>

					</li>

					<li id="subMenuScores">

						<div class="floatleft">

							<div>
								<a id="btnSubmitOfferScoresForm"
									href="/Views/Account/ManageProfile.html"
									style="cursor: pointer;">My Offer Scores</a>
							</div>

						</div>

					</li>

					<li id="subMenuChangePassword">

						<div class="floatleft">

							<div>
								<a id="btnSubmitChangePasswordForm"
									href="/Views/Account/_ChangePasswordPartial.html"
									style="cursor: pointer;">Change Password</a>
							</div>

						</div>

					</li>

					<li id="subMenuDeRegister">

						<div class="floatleft">

							<div>
								<a id="btnSubmitDeRegisterForm"
									href="/Views/Account/DeRegister.html" style="cursor: pointer;">DeRegister</a>
							</div>

						</div>

					</li>





					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitHelpForm" href="/Views/Home/Help.html"
									style="cursor: pointer;">Help</a>
							</div>

						</div>

					</li>

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitContactUsForm"
									href="/Views/Contact/ContactUs.html" style="cursor: pointer;">Contact
									Us</a>
							</div>

						</div>

					</li>

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitContactsForm" href="/Views/Home/Contact.html"
									style="cursor: pointer;">Contacts</a>
							</div>

						</div>

					</li>

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitAboutForm" href="/Views/Home/About.html"
									style="cursor: pointer;">About</a>
							</div>

						</div>

					</li>



				</ul>
			</div>


		</div>

