﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Fanikiwa - Peer-to-Peer Lending</title>
    <link href="/Images/Dollar.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/Content/Site.css" type="text/css" />
<script src="/Scripts/jquery-2.0.3.js" type="text/javascript"></script>
<script src="/Scripts/CustomScripts.js" type="text/javascript"></script>
     

</head>


<body>

    <header>
        <div class="content-wrapper">

            <div class="float-left">
                <p class="site-title" title="Fanikiwa - Peer - To - Peer Lending">
                    Fanikiwa - Peer - To - Peer Lending
                </p>
            </div>


            <div class="float-right">
                <section id="login">
                <text> Welcome To Fanikiwa, <a id="lnkloggedinuser"
					style="cursor: pointer;" href="#" onclick="ManageProfile()"
					title="Manage Profile"></a> <a id="lnklogoff"
					style="cursor: pointer;" href="#" onclick="LogOff()"
					title="Log Off">Log off</a> </text>
                </section>
            </div>
 


            <div id="nav">
                <ul id="menu">

                    <li>

                        <div class="floatleft">
                            
                                <div>
                                    <a id="btnSubmitIndexForm" style="cursor: pointer;" href="/Views/Home/Index.html" >Home</a>
                                </div>    
                            
                        </div>

                    </li>


                    <li>

                        <div class="floatleft">
                           
                                <div>
                                    <a id="btnSubmitListLendOffersForm" style="cursor: pointer;" href="/Views/Offers/ListLendOffers.html" >Get A loan</a>
                                </div>    
                            
                        </div>

                    </li>

                    <li>

                        <div class="floatleft">
                            
                                <div>
                                    <a id="btnSubmitListBorrowOffersForm" style="cursor: pointer;" href="/Views/Offers/ListBorrowOffers.html" >Make An Investment</a>
                                </div>    
                            
                        </div>

                    </li>

                    <li>

                        <div class="floatleft">
                            
                                <div>
                                    <a id="btnSubmitListMyOffersForm"  href="/Views/Offers/ListMyOffers.html" style="cursor: pointer;">My Offers</a>
                                </div>    
                            
                        </div>

                    </li>



                     
                        
                        <li id="subMenuMyProfile">

                            <div class="floatleft">
                               
                                    <div>
                                        <a id="btnSubmitEditProfileSubForm"  href="/Views/Account/EditProfile.html" style="cursor: pointer;">My Profile</a>
                                    </div>    
                                
                            </div>

                        </li>

                        <li id="subMenuMyAccounts">

                            <div class="floatleft">
                                
                                    <div>
                                        <a id="btnSubmitMyAccountsForm"  href="/Views/Account/MyAccounts.html" style="cursor: pointer;">My Accounts</a>
                                    </div>    
                                
                            </div>

                        </li>
                         
                     <li>

                        <div class="floatleft">
                             
                                <div>
                                    <a id="btnSubmitMyInvestMentsForm"  href="/Views/Loans/ListMyInvestments.html" style="cursor: pointer;">My InvestMents</a>
                                </div>    
                            
                        </div>

                    </li>

                        <li id="subMenuMyLoans">

                            <div class="floatleft">
                                
                                    <div>
                                        <a id="btnSubmitMyLoansForm"  href="/Views/Loans/ListMyLoans.html" style="cursor: pointer;">My Loans</a>
                                    </div>    
                                
                            </div>

                        </li>
                        
                        <li id="subMenuLendingGroups">

                            <div class="floatleft">
                                 
                                    <div>
                                        <a id="btnSubmitGetMyLendingGroupsForm"  href="/Views/LendingGroups/List.html" style="cursor: pointer;">My Lending Groups</a>
                                    </div>    
                                
                            </div>

                        </li>
                
                         
                        <li id="subMenuChangePassword">

                            <div class="floatleft">
                                
                                    <div>
                                        <a id="btnSubmitChangePasswordForm"  href="/Views/Account/_ChangePasswordPartial.html" style="cursor: pointer;">Change Password</a>
                                    </div>    
                                
                            </div>

                        </li>
                        
                        <li id="subMenuDeRegister">

                            <div class="floatleft">
                                
                                    <div>
                                        <a id="btnSubmitDeRegisterForm"  href="/Views/Account/DeRegister.html" style="cursor: pointer;">DeRegister</a>
                                    </div>    
                                
                            </div>

                        </li>
                        
                        

                    

                    <li>

                        <div class="floatleft">
                           
                                <div>
                                    <a id="btnSubmitHelpForm"  href="/Views/Home/Help.html" style="cursor: pointer;">Help</a>
                                </div>    
                            
                        </div>

                    </li>

                    <li>

                        <div class="floatleft">
                            
                                <div>
                                    <a id="btnSubmitContactUsForm"  href="/Views/Contact/ContactUs.html" style="cursor: pointer;">Contact Us</a>
                                </div>    
                            
                        </div>

                    </li>

                    <li>

                        <div class="floatleft">
                            
                                <div>
                                    <a id="btnSubmitContactsForm" href="/Views/Home/Contact.html"  style="cursor: pointer;">Contacts</a>
                                </div>    
                            
                        </div>

                    </li>

                    <li>

                        <div class="floatleft">
                            
                                <div>
                                    <a id="btnSubmitAboutForm"  href="/Views/Home/About.html" style="cursor: pointer;">About</a>
                                </div>    
                            
                        </div>

                    </li>



                </ul>
            </div>


        </div>


    </header>




	<div id="body">


		<section class="content-wrapper main-content clear-fix">

			<div id="error-display-div" class="displaynone"></div>

			<hgroup class="title">
				<h2 class="page-title">Lending Groups</h2>
			</hgroup>

			<div style="float: left; clear: both">
				<a href="/Views/LendingGroups/Create.html" >Create</a>
            </div>

             
			
            <div id="listLendingGroupsResult" style="clear:both"></div>


		</section>


	</div>




	<footer>

		<hr />
 
		<div class="content-wrapper clearboth">
			<div class="float-left">
				<p style="font-size: 15px">Copyright &copy; 
					Software Providers Limited. All Rights Reserved.</p>
			</div>
		</div>


		<div class="content-wrapper clearboth">
			<div>

			 

			</div>
		</div>


	</footer>




	<script type="text/javascript">
	
	 
	var offerTable = '' ; 
      // var ROOT ='https://1-dot-fanikiwaweb.appspot.com/_ah/api';
      var ROOT ='http://localhost:8888/_ah/api';  
 
        function LoadOffers() {
        	
        	  var request = gapi.client.offerendpoint.listOffer()
        	  .then(function(response) {
                	console.log(response);
        		  buildTable(response);
                }, function(reason) {
                  console.log('Error: ' + reason.result.error.message);
                }); 
        }

        function init() {  
        	gapi.client.load('offerendpoint', 'v1', LoadOffers, ROOT);
         }
       
      function buildTable(response) {
    	   
    	  offerTable = '' ; 
               
     		populateLendingGroups(response);
               
           $("#listLendingGroupsResult").html(offerTable); 
     }
 
     
         	function populateLendingGroups(resp)   
            { 

              if (!resp.code) {
                resp.items = resp.items || []; 
                
                offerTable +=   '<table id="listLendingGroupsTable">';
                offerTable +=   "<thead>";
                offerTable +=   "<tr>"; 
                offerTable +=   "<th>Description</th>"; 
                offerTable +=   "<th>Amount</th>"; 
                offerTable +=   "<th>Term</th>";  
                offerTable +=   "<th>Interest</th>";  
                offerTable +=   "<th></th>"; 
                offerTable +=   "<th></th>";
                offerTable +=   "</tr>";
                offerTable +=   "</thead>";
                offerTable +=   "<tbody>";
                
	        for (var i=0;i<resp.result.items.length;i++) {
	        	offerTable += '<tr>'; 
	        	offerTable += '<td>' + resp.result.items[i].description + '</td>'; 
	        	offerTable += '<td>' + resp.result.items[i].amount + '</td>'; 
	        	offerTable += '<td>' + resp.result.items[i].term + '</td>'; 
	        	offerTable += '<td>' + resp.result.items[i].interest + '</td>'; 
	        	offerTable += '<td><a href="#" onclick="Edit(' + resp.result.items[i].id + ')">Edit</a> </td>';  
	        	offerTable += '<td><a href="#" onclick="Details(' + resp.result.items[i].id + ')">Details</a> </td>';  
	        	offerTable += '<td><a href="#" onclick="Delete(' + resp.result.items[i].id + ')">Delete</a> </td>';  
		    	offerTable += "</tr>";
	              }
	        
	        offerTable +=  "</tbody>" ;
   			offerTable +=  "</table>" ;   
   			
            } 
               
        }
         	 
         	function Edit(id) {
         		
     			var email = localStorage.getItem('loggedinuser');
     			gapi.client.offerendpoint.acceptOffer(id, email).execute(function(resp) {
 	         		if (!resp.code) {  
 	         			Window.Locaton.href="/Views/LendingGroups/List.html";
 	         		}    
 	         	});   
	     }
         	
         	function Details(id) {

         			var email = localStorage.getItem('loggedinuser');
         			gapi.client.offerendpoint.acceptOffer(id, email).execute(function(resp) {
     	         		if (!resp.code) {  
     	         			Window.Locaton.href="/Views/LendingGroups/List.html";
     	         		}  
     	         	}); 
             } 
         	
         	function Delete(id) {
         		
     			var email = localStorage.getItem('loggedinuser');
     			gapi.client.offerendpoint.acceptOffer(id, email).execute(function(resp) {
 	         		if (!resp.code) {  
 	         			Window.Locaton.href="/Views/LendingGroups/List.html";
 	         		}    
 	         	});   
	     }

         	function LogOff() { 
         	localStorage.removeItem("loggedinuser");
            window.location.href = "/Views/Account/Login.html";  
         	}
         	
         	function ManageProfile() { 
         	window.location.href = "/Views/Account/EditProfile.html";  
            }
        
    </script>

	<script src="https://apis.google.com/js/client.js?onload=init"></script>
 


</body>


</html>
